body {
    background-color: #f8f9fa;
    padding-bottom: 100px;
}
.navbar {
    background-color: #343a40;
}
.navbar-brand, .nav-link, .btn-outline-success {
    color: white;
}
.navbar-brand:hover, .nav-link:hover {
    color: #adb5bd;
}
.btn-outline-success:hover {
    background-color: #28a745;
    color: white;
}
.nav-link {
    margin-right: 20px;
}
.navbar-toggler-icon {
    filter: invert(1);
}
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1 {
    text-align: center;
    font-family: Georgia;
}